{% extends "base.html" %}

{% block title %}Сканер резюме{% endblock %}

{% block content %}
    <form method="post" action="/" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <p class="h4">Уточните параметры поиска</p>

        <div class="d-flex flex-column mb-3" style="height: 100px;">
            <label for="text" class="form-label">Название вакансии</label>
            <input type="text" class="form-control" id="text" name="text" value="python">
        </div>


        <div class="d-flex justify-content-between column-gap-3" style="height: 100px;">
            <div class="flex-fill">
                <select class="form-select" aria-label="Опыт работы" name="experience">
                    <option value={{ form.experience }}>опыт работы</option>
                </select>
            </div>
{#            <div class="flex-fill">#}
{#                <select class="form-select" aria-label="Тип занятости" name="employment">#}
{#                    <option value={{ form.employment }}>тип занятости</option>#}
{#                </select>#}
{#            </div>#}
            <div class="flex-fill">
                <select class="form-select" aria-label="График работы" name="schedule">
                    <option value={{ form.schedule }}>график работы</option>
                </select>
            </div>
        </div>

        <div class="d-flex flex-column mb-3" style="height: 100px;">
            <label for="skills" class="form-label">Основные навыки</label>
            <input type="text" class="form-control" id="skills" name="skills">
        </div>

        <div class="d-flex flex-column mb-3">
            <button type="submit" class="btn btn-outline-secondary"> Найти </button>
        </div>
    </form>
{% endblock %}