{% extends "base.html" %}

{% block title %}Сканер резюме - список вакансий{% endblock %}

{% block content %}

    {% if vacancies %}
        <div class="list-group">
            <a class="list-group-item">Всего: {{ vacancies|length }} вакансий</a>
            {% for item in vacancies  %}
                <a href="{{ item.alternate_url }}" target="_blank" class="list-group-item list-group-item-action">{{ item.name }}</a>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Нет вакансий удовлетворяющих запросу!
        </div>
    {% endif %}

{% endblock %}